.contact {
    max-width: 1000px;
    margin: 40px auto;
    padding: 40px 20px;
    font-family: "Roboto Slab", serif;
}

.contact__title {
    text-align: center;
    color: #776a63;
    font-weight: normal;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 50px;
}

.form-group {
    display: flex;
    text-align: center;
    margin-top: 24px;
}

.required {
    color: red;
}

.form-label {
    display: flex;
    width: 200px;
    margin-right: 100px;
    color: #776a63;
}


.form-input {
    display: flex;
    margin-left: 20px;
}

.input__name {
    background-color: #f0f0f0;
    border-radius: 3px;
    border: none;
    padding: 10px 12px;
    font-size: 14px;
    width: 300px;
    margin-left: 20px;
    color: #94867f;
}

.form-gender {
    display: flex;
}

.gender-select {
    color: #776a63;
    margin-left: 60px;
    font-size: 15px;
    font-weight: bold;
}

.gender-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
}

.gender-item input {
    display: none;
}

.gender-item span::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid #776a63;
    border-radius: 50%;
    margin-right: 5px;
    box-sizing: border-box;
    vertical-align: middle;

}

.gender-item input:checked+span::before {
    background-color: #776a63;
}

.input-email {
    background-color: #f0f0f0;
    border-radius: 3px;
    border: none;
    padding: 10px 12px;
    font-size: 14px;
    width: 620px;
    margin-left: 20px;
    color: #94867f;
}

.form-tel {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.input-tel {
    background-color: #f0f0f0;
    width: 100%;
    font-size: 14px;
    padding: 8px;
    text-align: center;
    border: none;
    border-radius: 3px;
    color: #94867f;
}

.tel-hyphen {
    font-size: 16px;
    color: #776a63;
    margin: 0 20px;
}

.input-address {
    background-color: #f0f0f0;
    width: 620px;
    font-size: 14px;
    padding: 8px;
    color: #94867f;
    border: none;
    margin-left: 40px;
    border-radius: 3px;
}

.select-category {
    background-color: #f0f0f0;
    width: 350px;
    font-size: 14px;
    padding: 8px;
    color: #94867f;
    border: none;
    margin-left: 20px;
    border-radius: 3px;
    appearance: none;
}

.select-wrapper {
    position: relative;
}

.select-wrapper::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #91827a;
    pointer-events: none;
}

.input-text {
    background-color: #f0f0f0;
    width: 620px;
    font-size: 14px;
    padding: 8px;
    color: #94867f;
    border: none;
    margin-left: 40px;
    border-radius: 3px;
}

.form-button {
    text-align: center;
    margin-top: 50px;
}

.input-button {
    background-color: #776a63;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    width: 120px;
    padding: 10px 0;
    cursor: pointer;
}


.form-error {
    display: flex;
    align-items: center;
    margin-left: 340px;
}

.name-item {
    width: 100%;
}

.error {
    display: flex;
    color: #ff0000;
    font-size: 14px;
    margin-top: 4px;
    line-height: 1.4;
}