.header {
    width: 100%;
    border-bottom: 3px solid #e5e5e5;
    background-color: #fff;
}

.header__inner {
    max-width: 1230px;
    margin: 0 auto;
    padding: 20px 15px;
    text-align: center;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    text-decoration: none;
    font-size: 35px;
    font-weight: normal;
    color: #776a63;
    display: flex;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    flex-grow: 1;
    margin-left: 90px;
}

.header-nav__link {
    font-family: 'Roboto Slab', serif;
    background-color: #f1f1f1;
    border-radius: 3px;
    border: 1px solid #aa7b6d;
    color: #aa7b6d;
    text-decoration: none;
    padding: 5px 20px;
}

body {
    background-color: #f0e8e6;
}

.login {
    max-width: 700px;
    margin: 40px auto;
}

.login__title {
    text-align: center;
    color: #776a63;
    font-weight: normal;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 50px;
}

.login-content {
    background-color: #ffffff;
    padding: 50px 150px;
    border: 1px solid #e2e2e2;
}

.form-label {
    color: #776a63;
    font-size: 17px;
}

.form-input {
    margin-bottom: 50px;
}

.login-input {
    background-color: #f0f0f0;
    border-radius: 3px;
    border: none;
    padding: 10px 12px;
    font-size: 14px;
    width: 100%;
    height: 50px;
    color: #94867f;
    margin-top: 10px;
}

.form-button {
    text-align: center;
    margin-top: 50px;
}

.input-button {
    background-color: #776a63;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    width: 120px;
    padding: 10px 0;
    cursor: pointer;
}

.error-message {
    display: flex;
    color: #ff0000;
    font-size: 14px;
    margin-top: 4px;
    line-height: 1.4;
}