body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.thanks-content {
    max-width: 1230px;
    position: relative;
    width: 100%;
    height: 100%;
}

.thanks-background-text {
    font-family: "Roboto Slab", serif;
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: rgba(194, 178, 178, 0.1);
    letter-spacing: 10px;
    text-transform: uppercase;
    z-index: -1;
    text-align: center;
}

.thanks-message {
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 25%;
    z-index: 1;
}

.thanks-message h2 {
    color: #776a63;
    margin-bottom: 80px;
}

.thanks-message a {
    font-family: "Roboto Slab", serif;
    color: #ffffff;
    background-color: #776a63;
    border-radius: 3px;
    padding: 8px 30px;
    text-decoration: none;
}

